<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FEL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FEL.Properties.Settings.Coneccion" connectionString="Data Source=192.168.137.1;Initial Catalog=ITS;Persist Security Info=True;User ID=sa;Password=Emfama1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FEL.Properties.Settings>
            <setting name="Archivo" serializeAs="String">
                <value>41256506-35b74759e7e49550.pfx</value>
            </setting>
        </FEL.Properties.Settings>
    </userSettings>
</configuration>